<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BrawijayaWorkshopDbContext" connectionString="server={0};Uid={1};database={2};pwd={3}" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LoggerAppName" value="MISBrawijayaWorkshop"/>
    <add key="DbServerAddress" value="7rEHQpE2xdBG0M8Qrnm1NA=="/> <!-- localhost -->
    <add key="DbServerDomain" value="TYrI1BEFNgM="/> <!-- root -->
    <add key="DbServerPassword" value="4sdTDbI2fgPrtIQtiU2wVw=="/> <!-- 1234 -->
    <add key="DbName" value="gKGINxtV5CiCUB5/JTmFRg=="/> <!-- db_brawijaya -->
    <add key="MailServer" value="TODO:Encrypt" />
    <add key="MailServerPort" value="TODO:Encrypt" />
    <add key="MailUsername" value="TODO:Encrypt" />
    <add key="MailPassword" value="TODO:Encrypt" />
    <add key="MailSSL" value="true" />
    <add key="MailManager" value="TODO:Encrypt"/>
    <add key="MailAdmin" value="TODO:Encrypt" />
    <add key="MailFrom" value="TODO:Encrypt" />
    <add key="MailDeveloper" value="TODO:Encrypt" />
    <add key="SendErrorEmail" value="false"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>