*.suo
*.user
_ReSharper.*
bin
obj
BrawijayaWorkshopSolution/BrawijayaWorkshop.Win32App/BrawijayaWorkshop.Win32App.csproj
BrawijayaWorkshopSolution/BrawijayaWorkshop.Win32App/BrawijayaWorkshop.Win32App.csproj